---
import Navigation from '@/components/Navigation.astro';

interface Props {
    title: string;
    description: string;
    path: string;
    type: "website" | "article";
}

const { title, description, path, type } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={description} />
        <meta property="og:site_name" content="Pablo Reyes" />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:url" content={`https://pabloreyes.com.mx${path}`} />
        <meta property="og:type" content={type} />
        <title>{title} | Pablo Reyes</title>
    </head>
    <body>
        <div class="app-container">
            <Navigation/>
            <slot />
        </div>
    </body>
</html>

<style is:global>
    :root {
        --color-bg: #f5f5f5;
        --color-text: #333333;
        --color-text-muted: #555555;
    }

    html {
        font-family: "Times New Roman", Times, serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: var(--color-bg);
        color: var(--color-text);
    }

    body {
        margin: 4rem auto;
        padding: 2rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color-text);
        margin: 0 0 1em 0;
        font-weight: normal;
    }

    h1 {
        font-size: 2rem;
        margin-top: 1.5rem;
    }
    h2 {
        font-size: 1.75rem;
        margin-top: 1.25rem;
    }
    h3 {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    h4 {
        font-size: 1.25rem;
        margin-top: 0.875rem;
    }
    h5 {
        font-size: 1rem;
        margin-top: 0.75rem;
    }
    h6 {
        font-size: 0.875rem;
        color: var(--color-text-muted);
        margin-top: 0.5rem;
    }

    a {
        color: var(--color-text);
        text-decoration: none;
        border-bottom: 1px solid var(--color-text-muted);
        transition:
            color 0.2s ease-in-out,
            border-color 0.2s ease-in-out;
    }

    a:hover,
    a:focus {
        color: var(--color-text-muted);
        border-color: var(--color-text);
    }

    div.app-container {
        max-width: 400px;
        margin: 4rem auto;
    }

    @media (min-width: 768px) {
        body {
            margin: 8rem auto;
        }
    }
</style>
